body {
    background-color:#3D3C3C;
    opacity: 1;
    z-index: -10;
    
    }
    
    main h1, main h2, main h4, main h5{
        color: #ffffff;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold; /* Added font-weight property */
        line-height: 160%; /* 24px */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        z-index: 1;
        margin-top: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    main p, main ul {
        color: #ffffff;
        font-family: 'Mulish', sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 17.6px */
        letter-spacing: 1.1px;
        text-transform: uppercase;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        text-align: center;
        
    }
    
    #barre {
        display: flex;
        width: 297px;
        height: 2px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto; /* Added margin property to center the barre */
    
        z-index: 1;
        margin-top: -5px;
    }
    
    .center-text {
        text-align: center;
    }

    #intro {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
        font-family: 'Mulsih', sans-serif;
        font-size: 12px;
        margin-left: 11px;
        margin-right: 11px;
        line-height: 170%; /* Increased line-height */
        border: 1px solid#DCDCDC; 
        background-color: #31005430; 
        border-radius: 10px; /* Add this line */
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); 
    }

    
      

main h3{
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold; /* Added font-weight property */
  line-height: 160%; /* 24px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 20px;
}
.block {
    width: 50%; /* Régler la largeur de l'élément */
    height: 50%; /* Régler la hauteur de l'élément */
    
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.info-char {
    font-family: 'Muslish', sans-serif;
    font-size: 12px;
}
      
.background1{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}

.separator {
    background-color: #FFC233;
    height: 7px; /* Ajustez la hauteur pour changer la "grosseur" de la ligne */
    margin-left: -8px;
    margin-right: -9px;
    z-index: -5;
}

.background2 {
    background-image: url('/public/img/image/back\ 2.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
}

.imgf{
    width: 207px;
    height: auto;
    display: block;
    margin-top: 25px;
    z-index: 10;
    position: absolute;
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Décaler de moitié la largeur de l'image pour un centrage parfait */
    
}

   

.background3 {
    background-image: url('/public/img/image/back\ 3.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
}
.background4 {
    background-image: url('/public/img/image/back\ 4.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
}
.background5 {
    background-image: url('/public/img/image/back\ 5.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
}
.background6 {
    background-image: url('/public/img/image/back\ 6.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
}

.imgf2{
    
    display: block;
    margin-top: 100px;
    z-index: 10;
    position: absolute;
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Décaler de moitié la largeur de l'image pour un centrage parfait */
    
}

.background7{
    background-image: url('/public/img/image/Auschiwtch.webp');
    opacity: 0.5;
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background8{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background9{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background10{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background11{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background12{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}
.background13{
    background-image: url('/public/img/image/Back1.webp');
    margin-top: -7px;
    margin-left: -11px;
    margin-right:-9px;
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -5;
    position: relative;
}