body {
    background-image: url("/public/img/image/cropped-5120-2880-854147.jpg");
    background-size: cover;
    
    

    }
    
    main h1, main h2, main h4,{
        color: #000;
        text-align: left;
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: bold; /* Added font-weight property */
        line-height: 160%; /* 24px */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        z-index: 1;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    main p, {
        color: #000000;
        font-family: 'Mulish', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 17.6px */
        letter-spacing: 1.1px;
        text-transform: uppercase;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        
    }
    
    #barre {
        display: flex;
        width: 297px;
        height: 2px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto; /* Added margin property to center the barre */
    
        z-index: 1;
        margin-top: -5px;
    }
    
    .center-text {
        text-align: center;
    }

    #intro {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
        font-family: 'Mulsih', sans-serif;
        font-size: 12px;
        margin-left: 15px;
        margin-right: 15px;
        line-height: 160%; /* Increased line-height */
        border: 1px solid#DCDCDC; 
        background-color: #bfbfbfcc; 
        border-radius: 10px; /* Add this line */
        box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.5); 
        padding: 13px;
    }

    img {
        /* image responsive, largeur maxi */
        /* hauteur "auto" */
        max-width: 100%;
        height: auto;
      }
      

main h3{
  color: #ffffff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold; /* Added font-weight property */
  line-height: 160%; /* 24px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 20px;
}
.block {
    width: 50%; /* Régler la largeur de l'élément */
    height: 50%; /* Régler la hauteur de l'élément */
    
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.info-char {
    font-family: 'Muslish', sans-serif;
    font-size: 12px;
}
.iut {
   
    margin-top: 30px;
    justify-content: center;
    width: 150px; /* Régler la largeur de l'élément */
    height:auto; /* Régler la hauteur de l'élément */
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  

}
main ul {
    color: #ffffff;
        font-family: 'Mulish', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 17.6px */
        letter-spacing: 1.1px;
        text-transform: uppercase;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(255, 255, 255); /* Ajoute une bordure grise autour du formulaire */
    padding: 20px; /* Ajoute de l'espace à l'intérieur du formulaire */
    background-color: #919191; /* Ajoute un fond gris au formulaire */
    margin-top: 40px;
    margin-bottom: 40px;
}

#contact-form label {
    margin: 10px 0 5px 0;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #45a049;
}
main h6{
    color: #000000; 
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 17.6px */
    letter-spacing: 1.1px;
    text-transform: uppercase;
    z-index: 1;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: -10px;
}
